
<table class="none"><tr><td>
  <b>Logical Model</b>
    <ul>
      <li><a href="colorectal.html#table">Structure</a></li>
      <li><a href="colorectal.html#definitions">Definitions</a></li>
      <li><a href="colorectal-examples.html">Examples</a></li>
    </ul>
</td><td>
<b>Mappings</b>
    <ul>
      <li><a href="cmap.html#summary">Summary</a></li>
      <li><a href="cmap.html#script">Mapping Script</a></li>
    </ul>
</td><td>
<b>FHIR Resources</b>
    <ul>
     <li><a href="cprofiles.html">Profile Summary</a></li>
     <li><a href="cmap-examples.html">Examples</a></li>
    </ul>
</td></tr></table>
 