---
category: home
---
<!DOCTYPE HTML>
<html xml:lang="en" xmlns="http://www.w3.org/1999/xhtml" lang="en">
<head>
  <meta charset="UTF-8">
    <title>Examples - Colorectal Implementation Guide (Australian Digital Health Agency)</title>

  {% include header.html %}

</head>
<body>
{% include navbar.html %}

 <div id="segment-breadcrumb" class="segment">  <!-- segment-breadcrumb -->
  <div class="container">  <!-- container -->
   <ul class="breadcrumb">
          <!-- daf\daf / page / daf -->
        <li title="Colorectal Implementation Guide"><b>Home</b></li>

   </ul>
  </div>  <!-- /container -->
 </div>  <!-- /segment-breadcrumb -->

 <div id="segment-content" class="segment">  <!-- segment-content -->
 <div class="container">  <!-- container -->
            <div class="row">
             <div class="inner-wrapper">
  <!-- CONTENT CONTENT -->

<div class="col-9">

{% include colorectal-xref.html %}


<h1>Colorectal Report - FHIR Resource Examples</h1>

<p>
These are the examples based on the <a href="colorectal.html">Colorectal Logical Model</a>. For context, see the <a href="explanation.html">explanation of how this guide works</a>.
</p>


<table class="grid">
 <tr>
   <td><b>1</b></td>
   <td><a href="Bundle-Colorectal-genexample-1-map.xml.html">XML</a></td>
   <td><a href="Bundle-Colorectal-genexample-1-map.json.html">JSON</a></td>
   <td><a href="Bundle-Colorectal-genexample-1-map.html">Presentation</a></td>
 </tr>
 <tr>
   <td><b>2</b></td>
   <td><a href="Bundle-Colorectal-genexample-2-map.xml.html">XML</a></td>
   <td><a href="Bundle-Colorectal-genexample-2-map.json.html">JSON</a></td>
   <td><a href="Bundle-Colorectal-genexample-2-map.html">Presentation</a></td>
 </tr>
 <tr>
   <td><b>3</b></td>
   <td><a href="Bundle-Colorectal-genexample-3-map.xml.html">XML</a></td>
   <td><a href="Bundle-Colorectal-genexample-3-map.json.html">JSON</a></td>
   <td><a href="Bundle-Colorectal-genexample-3-map.html">Presentation</a></td>
 </tr>
 <tr>
   <td><b>4</b></td>
   <td><a href="Bundle-Colorectal-genexample-4-map.xml.html">XML</a></td>
   <td><a href="Bundle-Colorectal-genexample-4-map.json.html">JSON</a></td>
   <td><a href="Bundle-Colorectal-genexample-4-map.html">Presentation</a></td>
 </tr>
 <tr>
   <td><b>5</b></td>
   <td><a href="Bundle-Colorectal-genexample-5-map.xml.html">XML</a></td>
   <td><a href="Bundle-Colorectal-genexample-5-map.json.html">JSON</a></td>
   <td><a href="Bundle-Colorectal-genexample-5-map.html">Presentation</a></td>
 </tr>
 <tr>
   <td><b>6</b></td>
   <td><a href="Bundle-Colorectal-genexample-6-map.xml.html">XML</a></td>
   <td><a href="Bundle-Colorectal-genexample-6-map.json.html">JSON</a></td>
   <td><a href="Bundle-Colorectal-genexample-6-map.html">Presentation</a></td>
 </tr>
 <tr>
   <td><b>7</b></td>
   <td><a href="Bundle-Colorectal-genexample-7-map.xml.html">XML</a></td>
   <td><a href="Bundle-Colorectal-genexample-7-map.json.html">JSON</a></td>
   <td><a href="Bundle-Colorectal-genexample-7-map.html">Presentation</a></td>
 </tr>
 <tr>
   <td><b>8</b></td>
   <td><a href="Bundle-Colorectal-genexample-8-map.xml.html">XML</a></td>
   <td><a href="Bundle-Colorectal-genexample-8-map.json.html">JSON</a></td>
   <td><a href="Bundle-Colorectal-genexample-8-map.html">Presentation</a></td>
 </tr>
 <tr>
   <td><b>9</b></td>
   <td><a href="Bundle-Colorectal-genexample-9-map.xml.html">XML</a></td>
   <td><a href="Bundle-Colorectal-genexample-9-map.json.html">JSON</a></td>
   <td><a href="Bundle-Colorectal-genexample-9-map.html">Presentation</a></td>
 </tr>
 <tr>
   <td><b>10</b></td>
   <td><a href="Bundle-Colorectal-genexample-10-map.xml.html">XML</a></td>
   <td><a href="Bundle-Colorectal-genexample-10-map.json.html">JSON</a></td>
   <td><a href="Bundle-Colorectal-genexample-10-map.html">Presentation</a></td>
 </tr>
 <tr>
   <td><b>11</b></td>
   <td><a href="Bundle-Colorectal-genexample-11-map.xml.html">XML</a></td>
   <td><a href="Bundle-Colorectal-genexample-11-map.json.html">JSON</a></td>
   <td><a href="Bundle-Colorectal-genexample-11-map.html">Presentation</a></td>
 </tr>
</table>


</div>

    </div>  <!-- /inner-wrapper -->
            </div>  <!-- /row -->
        </div>  <!-- /container -->

    </div>  <!-- /segment-content -->

{% include footer.html %}
</body>
</html>