---
category: home
---
<!DOCTYPE HTML>
<html xml:lang="en" xmlns="http://www.w3.org/1999/xhtml" lang="en">
<head>
  <meta charset="UTF-8">
  <title>Colorectal Implementation Guide (NEHTA)</title>

  {% include header.html %}

</head>
<body>
{% include navbar.html %}

 <div id="segment-breadcrumb" class="segment">  <!-- segment-breadcrumb -->
  <div class="container">  <!-- container -->
   <ul class="breadcrumb">
          <!-- daf\daf / page / daf -->
        <li title="Colorectal Implementation Guide"><b>Home</b></li>

   </ul>
  </div>  <!-- /container -->
 </div>  <!-- /segment-breadcrumb -->

 <div id="segment-content" class="segment">  <!-- segment-content -->
 <div class="container">  <!-- container -->
            <div class="row">
             <div class="inner-wrapper">
  <!-- CONTENT CONTENT -->

<div class="col-9">

<h1>Colorectal Report</h1>

<h1>Table of Contents</h1>

<p>
On this page:
</p>
<ul>
 <li><a href="#intro">Introduction</a></li>
 <li><a href="#examples">Examples</a></li>
 <li><a href="#logical">Logical Colorectal Report</a></li>
 <li><a href="#definitions">Formal Definitions</a></li>
</ul> 

<a name="intro"> </a>
<h2>Introduction</h2>

<p>
Description of colorectal report ripped from RCPA document.
</p>

<a name="examples"> </a>
<h2>Examples</h2>

<ul>
 <li><a href="example1.html">Example 1</a></li>
</ul>

<a name="table"> </a>
<h2>Colorectal Report</h2>

{% include StructureDefinition-Colorectal-diff.xhtml %}

<a name="definitions"> </a>
<h2>Data Element Definitions</h2>

{% include  StructureDefinition-Colorectal-dict.xhtml %}


</div>

    </div>  <!-- /inner-wrapper -->
            </div>  <!-- /row -->
        </div>  <!-- /container -->

    </div>  <!-- /segment-content -->

{% include footer.html %}
</body>
</html>