---
category: home
---
<!DOCTYPE HTML>
<html xml:lang="en" xmlns="http://www.w3.org/1999/xhtml" lang="en">
<head>
  <meta charset="UTF-8">
  <title>Examples - Prostate (Radical Prostatectomy) Implementation Guide (Australian Digital Health Agency)</title>

  {% include header.html %}

</head>
<body>
{% include navbar.html %}

 <div id="segment-breadcrumb" class="segment">  <!-- segment-breadcrumb -->
  <div class="container">  <!-- container -->
   <ul class="breadcrumb">
          <!-- daf\daf / page / daf -->
        <li title="Prostate Implementation Guide"><b>Home</b></li>

   </ul>
  </div>  <!-- /container -->
 </div>  <!-- /segment-breadcrumb -->

 <div id="segment-content" class="segment">  <!-- segment-content -->
 <div class="container">  <!-- container -->
            <div class="row">
             <div class="inner-wrapper">
  <!-- CONTENT CONTENT -->

<div class="col-9">

{% include prostate-xref.html %}


<h1>Prostate Report - FHIR Resource Examples</h1>

<p>
These are the examples based on the <a href="prostate.html">Prostate Logical Model</a>. For context, see the <a href="explanation.html">explanation of how this guide works</a>.
</p>


<table class="grid">
 <tr>
   <td><b>1</b></td>
   <td><a href="Bundle-Prostate-genexample-1-map.xml.html">XML</a></td>
   <td><a href="Bundle-Prostate-genexample-1-map.json.html">JSON</a></td>
 </tr>
 <tr>
   <td><b>2</b></td>
   <td><a href="Bundle-Prostate-genexample-2-map.xml.html">XML</a></td>
   <td><a href="Bundle-Prostate-genexample-2-map.json.html">JSON</a></td>
 </tr>
 <tr>
   <td><b>3</b></td>
   <td><a href="Bundle-Prostate-genexample-3-map.xml.html">XML</a></td>
   <td><a href="Bundle-Prostate-genexample-3-map.json.html">JSON</a></td>
 </tr>
 <tr>
   <td><b>4</b></td>
   <td><a href="Bundle-Prostate-genexample-4-map.xml.html">XML</a></td>
   <td><a href="Bundle-Prostate-genexample-4-map.json.html">JSON</a></td>
 </tr>
 <tr>
   <td><b>5</b></td>
   <td><a href="Bundle-Prostate-genexample-5-map.xml.html">XML</a></td>
   <td><a href="Bundle-Prostate-genexample-5-map.json.html">JSON</a></td>
 </tr>
 <tr>
   <td><b>6</b></td>
   <td><a href="Bundle-Prostate-genexample-6-map.xml.html">XML</a></td>
   <td><a href="Bundle-Prostate-genexample-6-map.json.html">JSON</a></td>
 </tr>
</table>


</div>

    </div>  <!-- /inner-wrapper -->
            </div>  <!-- /row -->
        </div>  <!-- /container -->

    </div>  <!-- /segment-content -->

{% include footer.html %}
</body>
</html>