---
category: home
---
<!DOCTYPE HTML>
<html xml:lang="en" xmlns="http://www.w3.org/1999/xhtml" lang="en">
<head>
  <meta charset="UTF-8">
  <title>Prostate Report Profiles</title>

  {% include header.html %}

</head>
<body>
{% include navbar.html %}

 <div id="segment-breadcrumb" class="segment">  <!-- segment-breadcrumb -->
  <div class="container">  <!-- container -->
   <ul class="breadcrumb">
          <!-- daf\daf / page / daf -->
        <li title="Prostate Implementation Guide"><b>Home</b></li>

   </ul>
  </div>  <!-- /container -->
 </div>  <!-- /segment-breadcrumb -->

 <div id="segment-content" class="segment">  <!-- segment-content -->
 <div class="container">  <!-- container -->
            <div class="row">
             <div class="inner-wrapper">
  <!-- CONTENT CONTENT -->

<div class="col-9">

{% include prostate-xref.html %}


<h1>Prostate Report Profiles</h1>

<p>
These are the profiles that define how a <a href="prostate.html">Prostate Logical Model</a> is represented in resources. For context, see the <a href="explanation.html">explanation of how this guide works</a>.
</p>

{% include StructureDefinition-ProstateMap-DiagnosticReport-span.xhtml %}     

<br/>   

{% include StructureMap-prostatemap-profiles.xhtml %}     



</div>

    </div>  <!-- /inner-wrapper -->
            </div>  <!-- /row -->
        </div>  <!-- /container -->

    </div>  <!-- /segment-content -->

{% include footer.html %}
</body>
</html>