---
category: home
---
<!DOCTYPE HTML>
<html xml:lang="en" xmlns="http://www.w3.org/1999/xhtml" lang="en">
<head>
  <meta charset="UTF-8">
  <title>Testing Information - Structured Cancer Reporting Implementation Guide</title>

  {% include header.html %}

</head>
<body>
{% include navbar.html %}

 <div id="segment-content" class="segment">  <!-- segment-content -->
 <div class="container">  <!-- container -->
            <div class="row">
             <div class="inner-wrapper">
  <!-- CONTENT CONTENT -->

<div class="col-9">

<h1>Implementation and Testing</h1>

    <a name="implementers"> </a>
<!--    <h2>Information for Implementers</h2>-->
    <p>
        <ul>
            <li><a href="https://hl7-fhir.github.io/index.html">FHIR Specification</a></li>
            <li><a href="http://hl7.org/fhir/directory.html">FHIR Publication Directory</a></li>
            <li><a href="https://hl7-fhir.github.io/resourcelist.html">FHIR Specification - resources</a></li>
            <li><a href="https://hl7-fhir.github.io/terminologies-valuesets.html">FHIR Specification - valuesets defined in FHIR</a></li>
            <li><a href="https://fhir-drills.github.io/">FHIR Tutorials</a></li>
            <li><a href="http://wiki.hl7.org/index.php?title=Publicly_Available_FHIR_Servers_for_testing">Publicly Available FHIR Servers for testing</a></li>
            <li><a href="https://hl7-fhir.github.io/testing.html">Testing FHIR</a></li>
        </ul>
    </p>


</div>

    </div>  <!-- /inner-wrapper -->
            </div>  <!-- /row -->
        </div>  <!-- /container -->

    </div>  <!-- /segment-content -->

{% include footer.html %}
</body>
</html>